<h1>Hello world</h1>
<p>
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Id sint neque laboriosam molestiae sapiente nisi pariatur
  laborum, eos, voluptatem culpa quidem nam iure esse at quia natus itaque adipisci assumenda!
</p>
<a href="http://" target="_blank" rel="noopener noreferrer" no-open>Google</a>
<a href="http://" target="_blank" rel="noopener noreferrer" confirm
  confirmMessage="Voulez vous vraiment aller au poubelle du web ?">Twitter</a>

<p>
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit alias laudantium unde, officiis ipsum dolores dolor
  maxime ipsa! Officiis corporis illo consectetur eaque officia eveniet aliquam. Assumenda delectus provident ducimus!
</p>
<div userProfile firstName="andriam's" lastName="Bernin" job="Fantome"></div>
<p highlight background-color="red" basic="blue">
  Lorem ipsum dolor sit, amet consectetur adipisicing elit. Rerum vitae, fuga autem consequuntur eveniet provident
  cupiditate? Nemo id illo quisquam expedita assumenda mollitia, dignissimos quasi eveniet itaque veniam facilis iusto!
</p>