<h1>Hello world</h1>
<p>
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Id sint neque laboriosam molestiae sapiente nisi pariatur
  laborum, eos, voluptatem culpa quidem nam iure esse at quia natus itaque adipisci assumenda!
</p>
<p>
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit alias laudantium unde, officiis ipsum dolores dolor
  maxime ipsa! Officiis corporis illo consectetur eaque officia eveniet aliquam. Assumenda delectus provident ducimus!
</p>
<p highlight background-color="red" basic="blue">
  Lorem ipsum dolor sit, amet consectetur adipisicing elit. Rerum vitae, fuga autem consequuntur eveniet provident
  cupiditate? Nemo id illo quisquam expedita assumenda mollitia, dignissimos quasi eveniet itaque veniam facilis iusto!
</p>